{% extends "base.html" %}
{% block header %}
<h1>lounah@me <a href="/">~</a> %</h1>
{% endblock %}
{% block title %}Lounah's blog{% endblock %}
{% block content %}
    {% for group, publications in all_publications %}
        <h2>## {{ group.translated(strings) }}</h2>
        {% for publication in publications %}
            <h3><a href="{{ publication.url() }}">{{ publication.title }}</a><span class="publication-date">&nbsp;&nbsp;{{ publication.date.strftime("%Y/%m/%d") }}</span></h3>
        {% endfor %}
        <h4><a href="/{{ group.value.lower() }}">{{strings['show_more']}} >> </a></h4>
    {% endfor %}
{% endblock %}