
:root {
    --small: 18px;
    --medium: 19px;
    --normal: 20px;
}

.theme-light {
    --color-primary: #ffffff;
    --text-color-primary: #000000;
    --text-color-secondary: purple;
    --text-color-accent: blue;
}

.theme-dark {
    --color-primary: #121212;
    --text-color-primary: #aaaaaa;
    --text-color-secondary: #aaaaaa;
    --text-color-accent: #e7e7e7;
}

body {
    background-color: var(--color-primary);
    color: var(--text-color-primary);
}

.content {
   margin: auto;
   width: 90%;
}

.header {
    top: 0;
    padding-top: 10px;
    padding-bottom: 70px;
}

.header h1 {
   float: left;
   font-size: var(--normal);
}

.header-controls h2 {
   float: right;
   font-size: var(--small);
}

.content-block {
    padding-top: 40px;
    line-height: 1.8;
}

.content-block h1 {
    font-size: var(--normal);
}

.content-block h2 {
    font-size: var(--medium);
}

.footer h2 {
    transform: translate(-50%, -50%);
    left: 50%;
    padding-top: 200px;
    padding-bottom: 50px;
    position: absolute;
    line-height: 1.5;
    font-size: var(--normal);
}

a {
	cursor: pointer;
	color: var(--text-color-accent);
	text-decoration: none;
	border-bottom: 1px solid blue
}

a:visited {
	color: var(--text-color-secondary);
	border-bottom: 1px solid purple
}

a:hover {
	background-color: blue;
	color: #fff
}

a:hover:visited {
	background-color: var(--text-color-secondary);
}

.span.date {
    color: #808080;
}

@media screen and (min-width: 1000px) {
    :root {
        --small: 15px;
        --medium: 16px;
        --normal: 17px;
    }

    .content {
        margin: auto;
        width: 50%;
    }

    .header h1 {
        float: left;
        font-size: var(--normal);
    }
}

