<!DOCTYPE html>

<html lang="en" class="{{ theme }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hack/0.8.1/hack.css"/>
<link rel="stylesheet" href="/css/style.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="content">
    <div class="header">
        <h1># lounah.me | <a href="mailto:lounah@yandex.ru">lounah@yandex.ru</a></h1>
        <div class="header-controls">
            <h2><a href="/dark">Dark</a> / <a href="/light">Light</a></h2>
        </div>
    </div>

    <div class="content-block">
        <h1>## Posts</h1>
        <h2>- <a href="mailto:lounah@yandex.ru">Как Java 8 поддерживается в Android</a> <span class="span date">2022-02-10</span>
        </h2>
        <h2>- <a href="mailto:lounah@yandex.ru">Как Java 8 поддерживается в Android</a> <span class="span date">2021-11-11</span>
        </h2>
        <h2>- <a href="mailto:lounah@yandex.ru">Как Java 8 поддерживается в Android</a> <span class="span date">2021-07-05</span>
        </h2>
        <h3>&nbsp;&nbsp;<a href="mailto:lounah@yandex.ru">Show more >> </a></h3>

        <h1>## Podcasts</h1>
        <h2>- <a href="mailto:lounah@yandex.ru">Как Java 8 поддерживается в Android</a> <span class="span date">2022-02-10</span>
        </h2>
        <h2>- <a href="mailto:lounah@yandex.ru">Как Java 8 поддерживается в Android</a> <span class="span date">2021-11-11</span>
        </h2>
        <h2>- <a href="mailto:lounah@yandex.ru">Как Java 8 поддерживается в Android</a> <span class="span date">2021-07-05</span>
        </h2>
        <h3>&nbsp;&nbsp;<a href="mailto:lounah@yandex.ru">Show more >> </a></h3>

        <h1>## Talks</h1>
        <h2>- <a href="mailto:lounah@yandex.ru">Как Java 8 поддерживается в Android</a> <span class="span date">2022-02-10</span>
        </h2>
        <h2>- <a href="mailto:lounah@yandex.ru">Как Java 8 поддерживается в Android</a> <span class="span date">2021-11-11</span>
        </h2>
        <h2>- <a href="mailto:lounah@yandex.ru">Как Java 8 поддерживается в Android</a> <span class="span date">2021-07-05</span>
        </h2>
        <h3>&nbsp;&nbsp;<a href="mailto:lounah@yandex.ru">Show more >> </a></h3>


        <div class="footer">
            <h2>
                {% for key in meta %}
                <a href="{{ meta[key] }}">{{ key }}</a>
                {% endfor %}
            </h2>
        </div>
    </div>

</div>
</body>

</html>